<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
	<appSettings>
		<add key="ApplicationName" value="GregMiller_DBAS3200_BugTracker"/>
		<add key="DataDirectory" value="..\..\..\GregMiller_DBAS3200_BugTrkr_Data\Database\"/>
	</appSettings>
	<connectionStrings>
  <add name="BugConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\GregMiller_DBAS3200_BugTracker.mdf;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  <add name="GregMiller_DBAS3200_BugTracker.Properties.Settings.GregMiller_DBAS3200_BugTrackerConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\NSCCSTUDENT\Source\Repos\w0273754\Data Driven Programming\Assignments\1\GregMiller_DBAS3200_BugTracker\GregMiller_DBAS3200_BugTrkr_Data\Database\GregMiller_DBAS3200_BugTracker.mdf&quot;;Integrated Security=False;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
 </connectionStrings>
</configuration>
<!-- Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\NSCCSTUDENT\Desktop\DBAS3200\AdventureWorksApp\AdventureWorksApp\DataLayer\Database\AdventureWorks2008R2_Data.mdf;Integrated Security=True -->
<!-- Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AdventureWorks2008R2_Data.mdf;Integrated Security=True -->
